<head>
  {% include ga.html %}
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | replace: '//', '/' }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/brands.css" integrity="sha384-7xAnn7Zm3QC1jFjVc1A6v/toepoG3JXboQYzbM0jrPzou9OFXm/fY6Z/XiIebl/k" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/fontawesome.css" integrity="sha384-ozJwkrqb90Oa3ZNb+yKFW2lToAWYdTiF1vt8JiH5ptTGHTGcN7qdoR1F95e0kYyG" crossorigin="anonymous">

  <title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
  <link rel="manifest" href="/favicons/site.webmanifest">
  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{%if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <!-- Open Graph -->
  <meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:type" content: "website">
  <meta property="og:url" content= "{{site.url}}{{page.url}}">
  <meta property="og:description" content="{%if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:locale" content= "en_US">
  <meta property="og:site_name" content="{{site.title}}">
  <meta property="og:image" content="{{ site.url }}{%if page.ogimage %}{{ page.ogimage }}{% else %}{{ site.ogimage }}{% endif %}">
  <meta property="og:image:url" content="{{ site.url }}{%if page.ogimage %}{{ page.ogimage }}{% else %}{{ site.ogimage }}{% endif %}">
  <meta property="og:image:secure_url" content="{{ site.url }}{%if page.ogimage %}{{ page.ogimage }}{% else %}{{ site.ogimage }}{% endif %}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="1200">

  <!-- twitter card -->
  <meta property="twitter:card" content="summary">
  <meta property="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="twitter:description" content="{%if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="twitter:url" content= "{{ site.url }}{{page.url}}">
  <meta property="twitter:image" content="{{ site.url }}{%if page.ogimage %}{{ page.ogimage }}{% else %}{{ site.ogimage }}{% endif %}">

  <script src="/assets/vendor/particles.min.js"></script>
  <script src="/assets/js/main.js"></script>
</head>