<script src="/assets/js/main.js"></script>
<script
  async
  defer
  src="//cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"
  onload="window.initParticlesJS()"
></script>
<script src="//c6.patreon.com/becomePatronButton.bundle.js" async defer></script>

{% include ga.html %}

<script async defer>
  (function () {
    var qs, js, q, s, d = document,
      gi = d.getElementById,
      ce = d.createElement,
      gt = d.getElementsByTagName,
      id = "typef_orm_share",
      b = "https://embed.typeform.com/";
    if (!gi.call(d, id)) {
      js = ce.call(d, "script");
      js.id = id;
      js.src = b + "embed.js";
      q = gt.call(d, "script")[0];
      q.parentNode.insertBefore(js, q)
    }
  })()
</script>