<div class="social-buttons">
    <a
        class="fab fa-instagram btn-social"
        href="https://www.instagram.com/room_js/"
        target="_blank"
        title="Instagram"
        rel="noopener noreferrer"
    ></a>
    <a
        class="fab fa-codepen btn-social"
        href="https://codepen.io/room_js"
        target="_blank"
        title="Codepen"
        rel="noopener noreferrer"
    ></a>
    <a
        class="fab fa-facebook-square btn-social"
        href="https://www.facebook.com/roomjs/"
        target="_blank"
        title="Facebook"
        rel="noopener noreferrer"
    ></a>
    <a
        class="fab fa-youtube btn-social"
        href="https://www.youtube.com/channel/UCGT8sh9T27ZqXjyPdODdP8g"
        target="_blank"
        title="YouTube"
        rel="noopener noreferrer"
    ></a>
    <a
        class="fab fa-telegram-plane btn-social"
        href="https://t.me/room_js"
        target="_blank"
        title="Telegram"
        rel="noopener noreferrer"
    ></a>
    <a
        class="fab fa-twitter-square btn-social"
        href="https://twitter.com/room_js"
        target="_blank"
        title="Twitter"
        rel="noopener noreferrer"
    ></a>
    <a
        class="fab fa-dev btn-social"
        href="https://dev.to/room_js"
        target="_blank"
        title="Dev.to"
        rel="noopener noreferrer"
    ></a>
    <a
        class="fab fa-github btn-social"
        href="https://github.com/room-js"
        target="_blank"
        title="GitHub"
        rel="noopener noreferrer"
    ></a>
</div>
