@import "_variables";

// mobile first

body,
html {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto Mono', sans-serif;
  color: $grey;
  background-color: $dark;
}

* {
  box-sizing: border-box;
}

.align-right {
  text-align: right;
}

h1 {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 45px;
  margin: 0;
}

#logo {
  width: 300px;
  height: auto;
}

.main-container {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-container {
  width: 320px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn {
  display: block;
  width: 300px;
  font-family: 'Teko', sans-serif;
  letter-spacing: 3px;
  padding: 8px 15px 5px;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 30px;
  text-decoration: none;
  border: 2px solid $green;
  border-radius: 0;
  color: $green;
  margin: 10px;
  transition: all .2s ease-in-out;

  &:hover {
    color: $blue;
    border-color: $blue;
  }

  .fas, .fab {
    font-size: 22px;
    width: 34px;
    text-align: center;
  }

  &.blue {
    color: $blue;
    border-color: $blue;

    &:hover {
      color: $grey;
      border-color: $grey;
    }
  }

  &.grey {
    color: $grey;
    border-color: $grey;

    &:hover {
      color: $blue;
      border-color: $blue;
    }
  }

  &.cta-btn {
    --angle: 0deg;
    border-image: linear-gradient(var(--angle), $blue, $green) 1;
    animation: 5s rotate linear infinite;
  }
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.services-desc {
  margin: 10px 0;
  line-height: 30px;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  color: $grey;
  max-width: 300px;
}

.cta-text {
  margin: 0;
  line-height: 24px;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: 'Teko', sans-serif;
  font-weight: 300;
  color: $grey2;
  width: 300px;

  span {
    color: $green;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }
}

// tablet and desktop
@media screen and (min-width: 765px) {
  #logo {
    width: 620px;
  }

  .services-desc {
    font-size: 35px;
    margin: 30px 0;
    max-width: none;
  }

  .btn-container {
    width: 640px;
  }

  .cta-text {
    width: 620px;
    font-size: 22px;
    line-height: 30px;
  }
}
