@import "_variables";

// mobile first

body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto Mono', sans-serif;
  color: $grey;
  background-color: $dark;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Teko', sans-serif;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 45px;
  margin: 0;
}

#logo {
  width: 300px;
  height: auto;
}

h2 {
  margin: 10px 0;
  line-height: 30px;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: 'Teko', sans-serif;
  font-weight: 400;
  color: $grey;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-container {
  width: 320px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn {
  display: block;
  width: 300px;
  font-family: 'Teko', sans-serif;
  letter-spacing: 3px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 26px;
  text-decoration: none;
  border: 2px solid $green;
  border-radius: 0;
  color: $green;
  margin: 10px;
  transition: all .2s ease-in-out;

  &:hover {
    color: $blue;
    border-color: $blue;
  }

  &.blue {
    color: $blue;
    border-color: $blue;

    &:hover {
      color: $grey;
      border-color: $grey;
    }
  }
}

// tablet and desktop
@media screen and (min-width: 765px) {
  #logo {
    width: 620px;
  }

  h2 {
    font-size: 56px;
    margin: 30px 0;
  }

  .btn-container {
    width: 640px;
  }
}