.social-buttons {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px dashed #fff;
}

.btn-social {
  color: #fff;
  font-size: 50px;
  margin-right: 20px;
  position: relative;
  display: inline-block;
  z-index: 1;
  text-decoration: none;

  &:last-child {
    margin-right: 0;
  }
}