@import "_variables";

.social-buttons {
  margin: 20px 0;
  border: 2px solid $green;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  z-index: 1;
  padding: 10px 0;
}

.btn-social {
  color: $green;
  font-size: 45px;
  position: relative;
  display: block;
  text-decoration: none;
  transition: all .2s ease-in-out;
  width: 25%;
  text-align: center;
  margin: 10px 0;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: darken($blue, 20%);
    transform: scale(1.10) translateY(-3px);
  }
}

@media screen and (min-width: 765px) {
  .social-buttons {
    width: 620px;
  }

  .btn-social {
    width: 12.5%;
  }
}